.container{
    display: flex;
    /* display: none;
    visibility: hidden; */
    flex-direction: row;
    padding: 0%;
    margin: 5%;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.pokemon{
    /* width: 20%; */
    display: inline-block;
    /* flex-direction: column; */
    /* margin: 0.5%; */
    margin: 3%;
    /* align-items: center; */
    text-align: center;
    /* border-style: solid solid solid solid; */
}

/* .pokemon{
    width: 20%;
    display: flex
} */

.pokemon > img{
    max-width: 250px;
    min-width: 100px;
    height: auto;
    /* border-style: solid solid solid solid; */
}

.inputContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 10%;
    margin-bottom: 5%;
    align-items: center;
}

#inputBox{
    width: min(60vw, 600px);
    height: min(10vw, 100px);
    font-size: 1.3em;
    border-style: none none solid none;
    border-width: 0.05rem;
    border-color: black;
    text-align: center
}